@import "monokai";
@import "global";

// Article

$article_position: $banner_height + 30px;
$article_background_color: #FBFBFB;
$article_border_color: darken($article_background_color, 20%);

$table_border_color: lighten($banner_background_color, 20%);

// The text area container
div#container
{
  // The container is centered in the page
  width:50%;
  margin: 0 auto;

  // The article itself, a big sheet of paper
  section#article
  {
    // Fill up the whole container
    width: auto;
    // Padding for the text
    padding: 20px 30px 20px 30px;
    // Position where the article starts
    margin-top: $article_position;

    // Article sheet background color
    background-color: $article_background_color;
    // Border of the sheet
    border: 1px solid $article_border_color;
    // Shadow of the sheet
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.1);

    // Justify paragraphs
    p
    {
      text-align: justify;
    }

    // Should you use an image, it shall not exceed the sheet size
    img
    {
      max-width: 100%;
    }

    // Markdown quote
    blockquote
    {
      border-left:1px solid $banner_background_color;
      margin:0;
      padding:0 0 0 20px;
      font-style:italic;
    }

    // Code blocks
    code
    {
      font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
      font-size:13px;
      color:#efefef;
      text-shadow: 0px 1px 0px #000;
      margin: 0 4px;
      padding: 2px 6px;
      background: #333;
      border-radius: 2px;
    }

    // Text code blocks
    pre.highlight
    {
      padding:8px 15px;
      background: #333333;
      border-radius: 3px;
      border:1px solid #c7c7c7;
      overflow: auto;
      overflow-y: hidden;

      code
      {
        margin: 0px;
        padding: 0px;
      }
    }

    // Markdown tables
    table
    {
      width:100%;
      border-collapse:collapse;
    }

    // Table header
    th
    {
      text-align: center;
      padding:5px 10px;
      border: 1px solid $table_border_color;
      border-bottom-width: 2px;
      color: #444;
    }

    // Table data
    td
    {
      text-align:left;
      padding:5px 10px;
      border-bottom:1px solid $table_border_color;
      border-right: 1px solid $table_border_color;

      &:first-child
      {
        border-left: 1px solid $table_border_color;
      }
    }
  }
}
