<!doctype html>
<html>

  <!-- Page Configuration -->
  <head>

    <!-- Cascading Style Sheets (CSS) for Article -->
    <link rel="stylesheet" href="/assets/css/article_style.css"/>

    <!-- For page responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <!-- Page Content -->
  <body>

    <!-- Randomly chooses a bacground image -->
    <!-- <script>
      // window.onload = choosePic;
      //
      // function choosePic()
      // {
      //   var randomNum = Math.floor((Math.random() * 2));
      //   var path = "url(../assets/images/banner/noise_" + randomNum + ".png)";
      //   console.log(path);
      //   document.getElementById("banner").style.backgroundImage = path;
      // }
    </script> -->

    <!-- Page Title -->
    <header id=banner>
      <h1> {{ site.title }} </h1>
    </header>

    <!-- Zone where the page content will appear -->
    <div id=container>

      <!-- The zone where the article goes, structured as a paper sheet -->
      <section id=article>

        <!-- LIQUID: Import the article content -->
        {{ content }}
      </section>

      <!-- Page footer after the article ends -->
      <footer>
        <p>
          <small>
            Hosted on GitHub Pages
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
