<!doctype html>
<html>

  <!-- Page Configuration -->
  <head>

    <!-- Cascading Style Sheets (CSS) for the content -->
    <link rel="stylesheet" href="/assets/css/{{ layout.style }}.css"/>
  </head>

  <!-- Page Content -->
  <body>

    <!-- Page Title -->
    <header id=banner>
      <a href="{{ site.url }}"> {{ site.title }} </a>
    </header>

		<div>
			<!-- LIQUID: Import the page content -->
			{{ content }}

			<!-- Page footer after the content ends -->
      <footer>
        <p>
          <small>
            Hosted on GitHub Pages. Check the repository
            <a href= "{{ site.github_repo }}"> here </a>
          </small>
        </p>
      </footer>
		</div>
  </body>
</html>
