<!doctype html>
<html>

  <!-- Page Configuration -->
  <head>

    <!-- Cascading Style Sheets (CSS) for Article -->
    <link rel="stylesheet" href="/assets/css/article_style.css"/>
  </head>

  <!-- Page Content -->
  <body>

    <!-- Page Title -->
    <header id=banner>
      <h1> {{ site.title }} </h1>
    </header>

		<div>
			<!-- LIQUID: Import the page content -->
			{{ content }}

			<!-- Page footer after the content ends -->
      <footer>
        <p>
          <small>
            Hosted on GitHub Pages
          </small>
        </p>
      </footer>
		</div>
  </body>
</html>
